[dark-mode="true"]{
    --text-color: white;
    --text-color-secondary: #bdccdb;
    --primary-color: rgb(45,60,75);
    --primary-color-transparent: rgba(45,60,75,.9);
    --secondary-hover-color: rgb(75,80,95);
    --secondary-hover-color-transparent: rgb(75,80,95,.9);
    --tertiary-color: gray;
    --background-color : rgb(25,39,52);
    --navbar-shadow: black;
    --highlight-color: pink;
    --highlight-color-secondary: #66ccff;
    --background-gradient-color: black;
    --homepage-background: url('../assets/homepage-background-dark.jpg');


    --vt-color-bg: #252a33;
    --vt-color-text: #eee;
    --vt-color-text-subtle: #a2a2a2;
    --vt-color-btn: #aebbff;
    --vt-color-btn-hover: #fa0;
}
/*Dark Mode transition*/
span, .languages .entry, .navbar, .latest-project, #app .card:not(.transparent), .v-termynal {
    transition: background-color .8s, color .2s;
}
