:root {
    --text-color: #2c3e50;
    --text-color-secondary: gray;
    --primary-color: rgba(240,240,240,1);
    --primary-color-transparent: rgba(240,240,240,.9);
    --secondary-hover-color: rgb(220,220,220);
    --secondary-hover-color-transparent: rgb(220,220,220,.9);
    --tertiary-color: gray;
    --background-color: white;
    --navbar-shadow: gray;
    --highlight-color: brown;
    --highlight-color-secondary: #00aaff;
    --background-gradient-color: rgb(200,200,200);
    --homepage-background: url('../assets/homepage-background-light.jpg');

    --vt-color-bg: #ddd;
    --vt-color-text: #1a1e24;
    --vt-color-text-subtle: #d76d77;
    --vt-color-btn: #881823;
    --vt-color-btn-hover: #460c12;

    --black-gradient: radial-gradient(circle at 100%, rgb(20,20,20) 30%, rgb(100, 100, 100) 50%, rgb(20,20,20) 70%);
    --white-active-background: linear-gradient(90deg, rgb(0,0,0,0) 0%, rgb(64,64,64,1) 50%, rgb(0,0,0,0) 100%);
}

html{
    background-color: var(--background-color);
    transition: background-color 1s;
}
html *:is(span), *:is(h1) {
    transition: color .8s;
}
body{
    overflow-y: hidden;
}
.primaryAction {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-hover-color) 50%, var(--primary-color) 100%);
    background-size: 200%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-position 1s;
    box-shadow: 0 0 5px gray;
}
.primaryAction:hover{
    background-position-x: 100%;
    transition: background-position 1s;
}
.secondaryAction {
    background: white;
    font-weight: 100;
    transition: 1s;
}
.secondaryAction:hover{
    background: var(--secondary-hover-color);
    transition: 1s;
}
html, body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}
#loading{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40vh;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 130px);
    min-height: fit-content;
    gap: 20px;
    padding-top: 130px;
    font-size: 1.9rem;
    font-family: Dosis, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    background-color: var(--secondary-hover-color);
}
#name {
    font-weight: bolder;
}
#name span:nth-child(1){
    font-size: 118%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 400px;
    max-width: 90vw;
    min-height: fit-content;
    font-size: .8em;
}
.card .find-out {
    color: var(--text-color-secondary);
}
.card .find-out > span:not(#more){
    opacity: 0;
    transition: opacity .5s;
}
.card:hover .find-out > span:not(#more){
    opacity: 100;
    transition: opacity 1s;
}
.card:hover .find-out > span:is(#more){
    color: var(--highlight-color);
    transition: color 1s;
}
.card .find-out {
    font-size: 15pt;
}
.material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48;
     font-size: 1.7em;
 }
 #heading{
     font-weight: bold;
 }

/*Transition Animation*/
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: transform 1s, opacity 1s;
}
.slide-fade-leave-to {
    transform: translateY(-130%);
    opacity: 0;
}
.slide-fade-enter-from{
    transform: translateY(130%);
    opacity: 1;
}

.slide-fade-in-enter-active,
.slide-fade-in-leave-active {
    transition: transform 1s, opacity 1s;
}
.slide-fade-in-leave-to {
    transform: translateY(100%);
    opacity: 0;
}
.slide-fade-in-enter-from{
    transform: translateY(50%);
    opacity: 1;
}

.slide-fade-X-enter-active,
.slide-fade-X-leave-active {
    transition: transform 1s, opacity 1s;
}
.slide-fade-X-leave-to {
    transform: translateX(-130%);
    opacity: 0;
}
.slide-fade-X-enter-from{
    transform: translateX(130%);
    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s ease;
}
.fade-leave-to {
    opacity: 0;
}
.fade-enter-from{
    opacity: 1;
}